{% extends "general.html" %}

{% block header %}

{% include "header.html" %}

{% endblock %}

{% block body %}

<div class="jumbotron">
  <h1 class="display-4">Список Комментариев Пользователей</h1>

  <p class="lead">
    На этой странице выводится список всех комментариев от всех пользователей.
  </p>
  <hr class="my-4">

  {% for comment in comments %}
  <p class="lead">
  	<i class="material-icons">account_circle</i>
    {{ comment.user_name }}, {{ comment.user_family_name }}, {{ comment.patronomic }}
  </p>

  <p class="lead">
  	<i class="material-icons">contacts</i>
    {{comment.email }}, {{ comment.phone}} 
  </p>

  <p class="lead">
  	<i class="material-icons">location_city</i>
    {% if comment.region and comment.town %}
    	{{ comment.region }},  {{ comment.town }}
    {% endif %}
  </p>

  <p class="lead">
  	<i class="material-icons">description</i>
    {{ comment.comment }}
  </p>
  {% if request.user.is_staff or comment.id in user_comment_nums %}	
  <p class="lead">
    <a type="button" href="{% url 'del_comment' comment.id %}" class="btn btn-danger">Удалить Коментарий</a>
  </p>   
  {% endif %}
  <hr class="my-4"> 
  {% endfor %}
  <p class="lead">
    <a type="button" href="{% url 'new_comment' %}" class="btn btn-success">Создать Коментарий</a>
  </p>   
</div>  

{% endblock %}